<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en">
<head>
    {% include 'base/head/base.html' %}
    <base href="/">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic,latin-ext' rel='stylesheet'
          type='text/css'>
    <style type="text/css">* {
        font-family: 'Roboto', sans-serif !important;
    }

    @media screen and (max-aspect-ratio: 1/1) {
        .li:first-child{
            margin-top:180px;
        }
        .wtf{
            top:22vh !important;
            height: 78vh !important;;
        }
    }
    </style>
</head>

<body ng-app="eestec" style="display:flex;justify-content:center;align-items:center;align-content: center;">

<md-button onclick="window.location = '/people'" class="md-fab" style="position: fixed; bottom: 0; right: 0; padding: 15px">
<ng-md-icon icon="people" ></ng-md-icon>
</md-button>
<md-button onclick="window.location = '/badges'" class="md-fab" style="position: fixed; bottom: 0; left: 0; padding: 15px">
<ng-md-icon icon="filter_vintage" ></ng-md-icon>
</md-button>

{% block content %}
{% endblock %}
{% verbatim %}
<script type="text/javascript" id="{{ name }}">
    document.addEventListener("DOMContentLoaded", function (event) {
        thisbetterwork = '{{ name }}';
        console.log(thisbetterwork);
    });
</script>
{% endverbatim %}
<md-sidenav class="md-sidenav-right" md-component-id="right"
            ng-include="'/static/common/sidenav.html'"></md-sidenav>
</body>
</html>