<div style="display:flex; flex-wrap:wrap">
	<table id="results" style="flex-grow:1" class='table table-hover table-striped'>
	  <% Choices.each do |id, text| %>
	    <tr>
	      <th><%= id %></th>
	      <td><%= @vote[id] || 0 %>
	    </tr>
	  <% end %>
	</table>
	<p><a href='/'>Cast more votes!</a></p>
	<div id="chart" style="flex-grow:2">
	    <svg>
	    </svg>
	</div>
</div>
<script type="text/javascript">
var data = [<% Choices.each do |id,text| %>
{
	"label": "<%= id %>",
	"value": parseFloat("<%= @vote[id] %>")
},
<% end %>]
createChart(data);
</script>
<style type="text/css">
#chart svg {
  height: 400px;
}
</style>
