{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div layout="column">
        <style>
            body {
                opacity: 0.9;
            }
        </style>
        <img src="{% static 'common/questmenue.svg' %}"
             style=" position:fixed;
         width:100%;
         top:0;
         left:0;
         z-index: -1;
         ">

        <div style="padding:10px; width: 60vw; opacity: 0.7">
            <div layout="column">
                <h1 class="md-display-1">{{ object.title }}</h1>


                <p class="md-body-2" style="text-align: center;">{{ object.description }}</p>

                <p class="md-body-1" style="text-align: center;">{{ object.users.count }} users already completed this
                    quest</p>
                <md-button id="completeQuest"
                           style="color:white;font-weight:bold;background-color:rgba(226, 175, 1, 0.8);"
                           class="md-primary md-raised">Complete Quest
                </md-button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#completeQuest").on("click", function () {
                getLocation();
                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function showPosition(position) {
                    var lat = position.coords.latitude;
                    var long = position.coords.longitude;
                    var questID = {{ object.id }};
                    submitQuest(lat, long, questID);
                }

                function submitQuest(lat, long, quest) {
                    var url = window.location.origin + "/quests/response/";
                    $.post(url, {lat: lat, lng: long, quest: quest}, function (data) {
                        //var data = {status:0, message: "Good job!"}; //JSON.parse(data);
                        console.log(data);
                        if (data.status == 0) {
                            $("#completeQuest").css("background-color", "#0F0");
                            $("#completeQuest").text(data.message);
                            setTimeout(function () {
                                window.location="/quests/";
                            }, 5000);
                        } else {
                            $("#completeQuest").text(data.message);
                            if (data.message.indexOf("Good") < 0) {
                                $("#completeQuest").css("background-color", "#F00");
                                setTimeout(function () {
                                    $("#completeQuest").css("background-color", "rgba(223, 202, 21, 0.8)");
                                    $("#completeQuest").text("COMPLETE QUEST");
                                }, 5000);
                            }
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}
